replicaCount: 2

image:
  repository: librenms/librenms
  tag: latest
  pullPolicy: IfNotPresent

timezone: Africa/Lagos

env:
  APP_KEY: "base64:CHANGE_ME_GENERATE_NEW"
  DB_HOST: librenms-mariadb
  DB_NAME: librenms
  DB_USER: librenms
  DB_PASSWORD: librenms_password

service:
  type: ClusterIP
  port: 8000

ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
  hosts:
    - host: librenms.example.com
      paths:
        - path: /
          pathType: Prefix
  tls: []

persistence:
  enabled: true
  storageClass: ""
  accessMode: ReadWriteOnce
  size: 10Gi

cron:
  enabled: true

rrdcached:
  enabled: true

mariadb:
  enabled: true
  auth:
    database: librenms
    username: librenms
    password: librenms_password
    rootPassword: root_password
  primary:
    persistence:
      enabled: true
      size: 10Gi

resources:
  limits:
    cpu: "1000m"
    memory: "2Gi"
  requests:
    cpu: "500m"
    memory: "1Gi"
